<div class="container pt-4">
  <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Titulo de la actividad</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, numquam enim saepe quas
        laboriosam temporibus reprehenderit nisi ullam animi necessitatibus eum odio libero hic quasi repellat odit
        dicta assumenda dolorum!</p>
      <div class="info d-flex justify-content-between">
        <p class="card-text"> Horario: Lorem ipsum dolor</p>
        <button type="submit" class="btn btn-primary">Ver más</button>
      </div>
    </div>
  </div>
</div>